body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

header a{
  background-color: #45C6B4;
  width: 100vw;
  height: 80px;
  display: flex;
}

.main__img {
  height: 40px;
  margin: 20px 0 20px 20px;
}

a {
  text-decoration: none;
}

.main__title {
  color: #fff;
  font-size: 40px;
  margin: 20px 10px;
}
.main__form {
  margin: 20px;
}

.main__form input{
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.main__form select{
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.main {
  height: calc(100vh - 80px);
  display: flex;
}
.nav {
  background-color: #242527;
  width: 230px;
  height: 100%;
}

.nav__item{
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  padding:10px;
  padding-left: 40px;
}

.nav__item img {
  width: 40px;
  margin-right: 10px;
}

main {
  height: 100%;
  width: calc(100vw - 230px);
  overflow: scroll;
}

.pagination {
  text-align: center;
}

.pagination li {
  display: inline-block;
}