.form {
  width: 80%;
  min-height: 50%;
  border: solid 2px #242527;
  border-radius: 5px;
  margin: auto;
  margin-top: 40px;
}

.form__title {
  width: 100%;
  height: 40px;
  background-color: #242527;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.form__title h2 {
  padding: 10px;
}

.form__inner {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  height: 100%;
  margin: 20px 0;
}

.form__group {
  margin-bottom: 15px;
  align-items: center; 
  display: flex;
}

.form__group input{
  width: 250px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form__group textarea {
  width: 400px;
  padding: 10px;
  font-size: 16px;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form__group select {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form__button-submit {
  background-color: #dc4062;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.form__error {
  text-align: center;
  color: #dc4062;
}

.search {
  width: 30%;
  border: solid 2px #242527;
  border-radius: 5px;
  margin: auto;
  margin-top: 40px;
}